<select id = "avatarselect" name = "avatar">
  <option value="Images/avatars/Bike.jpg">Bike</option>
  <option value="Images/avatars/boat.jpg">Boat</option>
  <option value="Images/avatars/CableCart.jpg">Cable Car</option>
  <option value="Images/avatars/car.jpg">Car</option>
  <option value="Images/avatars/Griffin.jpg">Epic Mount</option>
  <option value="Images/avatars/Ferry.jpg">Ferry</option>
  <option value="Images/avatars/plane.jpg">Plane</option>
  <option value="Images/avatars/train.jpg">Train</option>
  <option value="Images/avatars/RV.jpg">RV</option>
</select>
