
<div id = "links">

  <p id = "legalStuff">
    <a href = "/userpolicy">User Policy and Data Protection</a>
  </p>

  <p id = "legalStuff">2018<a href = "/"> Journey</a> All Rights Reserved</p>
</div>
