<!-- foooter  -->
<div id = "links">

  <!-- footer links (policy) -->
  <p id = "legalStuff">
    <a href = "/userpolicy">User Policy and Data Protection</a>
  </p>

  <!-- footer links (home) -->
  <p id = "legalStuff">2018<a href = "/"> Journey</a> All Rights Reserved</p>
</div>
