<div id = "bannerTop">
  <nav id = "navigation">
    <ul id = "navigationBar" class = "topnav">
      <li><a href = "homePage.html">Home</a></li>
      <li><a href = "mapPage.html">Search</a></i>
      <li style = "float: right;"><a href="profilePage.html">Profile</a></li>
      <li style = "float: right;"><a href="#" onclick="document.getElementById('id02').style.display='block'">Register</a></li>
      <li style = "float: right;"><a href="#" onclick="document.getElementById('id01').style.display='block'">Login</a></li>
    </ul>
  </nav>

</div>
<div id = "bannerBottom"></div>
<div id = "logo" ></div>
