<div id = "bannerTop">
  <nav id = "navigation">
    <ul id = "navigationBar" class = "topnav">
      <li><a href = "/">Home</a></li>
      <li><a href = "/search">Search</a></i>
      <li class = "profileButton" style = "float: right;"><a href="/profile">Profile</a></li>
      <li style = "float: right;"><a href="#" onclick="document.getElementById('id02').style.display='block'">Register</a></li>
      <li style = "float: right;"><a href="#" onclick="document.getElementById('id01').style.display='block'">Login</a></li>
    </ul>
  </nav>

</div>
<div id = "bannerBottom"></div>
<div id = "logo" ></div>
