<!-- main page navigation bar -->

<div id = "bannerTop">
  <nav id = "navigation">
    <ul id = "navigationBar" class = "topnav">
      <li><a href = "/">Home</a></li>
      <li><a href = "/search">Search</a></i>
      <% if(loggedin){ %>
      <li style = "float: right;"><a href="/logout" >Logout</a></li>
      <li style = "float: right;" id = "profileButton"><a href="/profile">Profile</a></li>
      <% } %>
      <!-- <% else{ %> -->
      <li style = "float: right;"><a href="#" onclick="document.getElementById('id01').style.display='block'">Login</a></li>
      <li style = "float: right;"><a href="#" onclick="document.getElementById('id02').style.display='block'">Register</a></li>
      <!-- <% } %> -->
    </ul>
  </nav>

</div>
<div id = "bannerBottom"></div>
<div id = "logo" ></div>
