<select id = "categorySelect">
    <option value="0">Select attraction category...</option>
    <option value="amusement_park">Amusement Park</option>
    <option value="aquarium">Aquarium</option>
    <option value="art_gallery">Art Gallery</option>
    <option value="bar">Bar</option>
    <option value="bowling_alley">Bowling Alley</option>
    <option value="cafe">Cafe</option>
    <option value="casino">Casino</option>
    <option value="movie_theater">Cinema</option>
    <option value="gym">Gym</option>
    <option value="museum">Museum</option>
    <option value="night_club">Night Club</option>
    <option value="restaurant">Restaurant</option>
    <option value="shopping_mall">Shopping Centre</option>
    <option value="department_store">Store</option>
    <option value="spa">Spa</option>
    <option value="store">Store</option>
    <option value="zoo">Zoo</option>
</select>
