<!-- registration modal form -->

<span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
<form class="modal-content animate" action="/adduser" method = "POST">
  <div class="mContainer">

    <div class="imgcontainer">
      <img src="Images/logoJourney.png" alt="Avatar" class="avatar">
    </div>

    <!-- register info -->
    <h1 id = "registerHead">Register</h1>
    <p id = "registerInfo">Create an account now and begin your journey!</p>
    <hr>

    <!-- first name field -->
    <label for="first"><b>First Name</b></label>
    <input type="text" placeholder="Enter First Name" name="first" required>

    <!-- last name field -->
    <label for="last"><b>Last Name</b></label>
    <input type="text" placeholder="Enter Last Name" name="last" required>

    <!-- email field -->
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <!-- password field -->
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <!-- <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required> -->

    <!-- avatar selection -->
    <label for="avatar"><b>Profile Image</b></label>

    <% include ../partials/avatars %>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <p id = "registerInfo">By creating an account you agree to our <a href="/userpolicy" style="color:dodgerblue">Terms & Privacy</a>.</p>
  </div>
  <div class="mContainer" style="background-color:#f1f1f1">
    <button type="submit" id="loginButton">Sign Up</button>
    <button type="button" onclick="document.getElementById('id02').style.display='none'" id="cancelButton">Cancel</button>
  </div>
</form>
