#topBar{

}

#navBar{
    background-image: url("Images/topBanner(noLogo).png");
    background-repeat: no-repeat;
    background-size: 100% 65%;
    height: 288px;

}



#navBar ul{
  style: none;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items:flex-start;
}

#navBar ul li{
  display: inline;
  color: green;
}

#navBar ul .leftNav{
    display: -webkit-flex;
    display: flex;
    fl
}

#navBar ul .rightNav{

}

#navBar ul .logoNav{

}

#navBar a{
  text-decoration: none;
  color: green;
  font-size: 20px;
  font-family: "Century Gothic";
  font-weight: 550;
}

#logoImg{
  width: 75%;
  height: 75%;
}






















footer{
  position: absolute;
  bottom:0;
}
