* {
margin: 0;
}

html {
margin: 0;
background-color: lightGreen;
}

body {
margin: 0;
}

#topBar{

}

#navBar{
    background-image: url("Images/topBanner.png");
    background-repeat: no-repeat;
    background-size: 100% 190px;
    height: 190px;
}

#navbar ul{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

#navBar ul .leftNav{
    margin-right: 100px;
    margin-bottom: auto;
}

#navBar ul .rightNav{
    margin-left: 100px;

}

#navBar ul .logoNav{
    margin-left: 450px;
    margin-right: 450px;

}

#navBar ul li{
  display: inline;
  color: green;
}

#navBar a{
  font-family: "Century Gothic";
  text-decoration: none;
  color: #39B54A;
  font-size: 20px;
  font-weight: 550;
}
#navBar a:hover{
  text-decoration: underline;
}

#logoImg{
  width: 16%;
  height: 16%;
}

footer{
  background-image: url("Images/bottomBanner.png");
  height: 50px;
  width: 100%;
  position:absolute;
  margin: 0px;
  bottom: 0px;
}
