* {
margin: 0;
}

html {
background-image: url("Images/Map.png") ;
}

#topBanner{
  position: absolute;
  width: 100%;
  height: 162px;
  margin: 0;
  z-index: 1;
  opacity: 0.8;
  vertical-align: middle;
}

#navBarLeft ul{
  position: absolute;
  z-index: 2;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 25px;
  float: left;
}

#navBarRight ul{
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 25px;
  float:right;
}

#navBarLeft .leftNav{
  margin-right: 90px;

}
#navBarRight .rightNav{
  margin-left: 90px;
  margin-right: 20px;
}


#navBarLeft a{
  z-index: 2;
  font-family: "Century Gothic";
  text-decoration: none;
  color: #39B54A;
  font-size: 20px;
  font-weight: 550;
}
#navBarRight a{
  z-index: 2;
  font-family: "Century Gothic";
  text-decoration: none;
  color: #39B54A;
  font-size: 20px;
  font-weight: 550;
}

#navBarLeft a:hover{
  text-decoration: underline;
}
#navBarRight a:hover{
  text-decoration: underline;
}

#logo{
  position: relative;
  width: auto;
  height: 155px;
  display:block;
  vertical-align: middle;
  margin-right: 820px;
  margin-left: 820px;
  top: 2px;
  z-index: 2;
}

#bottomBanner{
  position: absolute;
  width: 100%;
  height: 50px;
  margin: 0;
  bottom: 0px;
  z-index: 100;
}
