* {
margin: 0;
}


html {

}
body{
  min-width:1000px;
  width: auto !important;
  width:1000px;
  background-color:white;
}


/*Top banner*/
#topBanner{
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0;
  z-index: 2;
  opacity: 0.9;
  vertical-align: middle;
  min-width: 1000px;
}
#navBarLeft ul{
  position: absolute;
  z-index: 2;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 1%;
  float: left;
}
#navBarRight ul{
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 1%;
  float:right;
}
#navBarLeft .leftNav{
  margin-right: 90px;
}
#navBarRight .rightNav{
  margin-left: 90px;
  margin-right: 20px;
}
#navBarLeft a{
  z-index: 3;
  font-family: "Century Gothic";
  text-decoration: none;
  color: #39B54A;
  font-size: 18px;
  font-weight: 550;
}
#navBarRight a{
  z-index: 3;
  font-family: "Century Gothic";
  text-decoration: none;
  color: #39B54A;
  font-size: 18px;
  font-weight: 550;
}
#navBarLeft a:hover{
  text-decoration: underline;
}
#navBarRight a:hover{
  text-decoration: underline;
}
#logo{
  position: absolute;
  height: auto%;
  display: block;
  margin-left: 43.5%;
  width: 13%;
  z-index: 6;
  min-width: 130px;
}


/*Bottom banner*/
#bottomBanner{
  pointer-events: none;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  height: 126px;
  margin: 0;
  bottom: 0px;
  z-index: 2;
}

/*Home page specific*/
/*Bubbles*/
#pageContent{
  /*background: rgba(235,235,235,.7);*/
  /*border: 2px solid rgba(10,10,10, .3);*/
  position: absolute;
  z-index: 0;
  margin-top: 7.5%;
  margin-left: 10%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  vertical-align: middle;
  width: 80%;
  height: auto;
  min-width: 800px;
}
.post{
  padding: 4%;
  padding-top: 2%;
}
.bubbleImage{
  display: block;
  margin: auto;
  width:80%;
  height:auto;
  border-radius: 50%;
  border: 5px solid #39B54A;
  background-color: grey;
}
.topicHead{
  font-family: "Century Gothic";
  color: #39B54A;
  text-align: center;
  padding-top: 4%;
}
.topicText{
  font-family: "Century Gothic";
  color: grey;
  text-align: center;
  width: 100%;
}

/*search area*/
.textSearch{
  /*background: rgba(235,235,235,.7);*/
  /*border: 2px solid rgba(10,10,10, .3);*/
  font-family: "Century Gothic";
  color: #39B54A;
  text-align: center;
  padding-top: 36.5%;
  padding-bottom: 10px;
  font-size: 35px;
}

#address{
  font-family: "Century Gothic";
  color: grey;
  width: 40%;
  opacity: 0.85;
  height: 40px;
  font-size: 30px;
  margin-top: 1%;
  margin-left: 30%;
  margin-right: auto;
  border: 2px solid #39B54A;
}
