/*Map page specific*/

/*Map*/
#map {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: grey;
  border: none;
  z-index: 1;
  opacity: 1;

}


/*SearchArea*/
#searchArea {
  position: absolute;
  z-index: 8;
  float: left;
  width: 20%;
  height: auto;
  margin-top: 4%;
  margin-left: 35px;
  border: 2px solid rgba(57,181,74, .8);
  background: rgba(255,255,255,.75);
  min-width: 250px;
}
#searchAreaTitle{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  margin-bottom: 3%;
  font-family: "Century Gothic";
  text-decoration: none;
  color: #39B54A;
  font-size: 16px;
  font-weight: 550;
}
#address{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  font-family: "Century Gothic";
  font-size: 80%;
  width: 88%;
  opacity: 0.85;
}
