<!DOCTYPE html>
  <!--Colour code: 39B54A -->
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=0.62">
  <title>Home - Journey</title>

  <link rel="stylesheet" type="text/css" href="/styles/headerFooter.css">
  <link rel="stylesheet" type="text/css" href="/styles/homeStyle.css">

  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type = "text/javascript" src = "Api/placesApi.js"></script>
  <script type = "text/javascript" src = "Scripts/changeTab.js"></script>
  <!--<script type = "text/javascript" src = "Scripts/scrollScript.js"></script>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<section>
  <header id = "head">
    <% if (!req.session.loggedin){ %>
      <% include ../partials/header %>
    <% } %>
  </header>

<!-- ===========================search tab start=========================== -->
    <h1 id = "searchHead"> Find attractions near you with Journey...</h1>

    <section id = "search">

      <!-- Tab links -->
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'tab1')" id = "defaultOpen">Search by Location Name</button>
        <button class="tablinks" onclick="openCity(event, 'tab2')">Search by Category</button>
      </div>

      <!-- Tab content -->
      <form id ="tab1" class="tabcontent">
        <input id = "placeSearch" type = "text" placeholder = " Search for a place...">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

      <form id ="tab2" class="tabcontent">
        <div id = "list">
              <select id = "categorySelect">
                  <option value="0">Select attraction category...</option>
                  <option value="1">Theme Park</option>
                  <option value="2">Restaurant</option>
                  <option value="3">Museum</option>
                  <option value="4">Bar</option>
                  <option value="5">Famous Places</option>
              </select>
          </div>
          <input type="number" id = "quantity" placeholder = "Radius" min="1" max="100">
          <button type="submit"><i class="fa fa-search"></i></button>
      </form>

      <script>
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
      </script>

    </section>
    <!-- search tab end -->

    <!-- information section start -->
    <h1 class = "infoHead">Begin your journey...</h1>
    <section id = "pageContent">
      <article class = "post">
        <img id = "bubbleImage" src = "Images/Bubble - Search.jpg"></img>
        <h2 class = "topicHead">Search</h2>
        <p class = "topicText">Discover countless locations near you based on their category using our search options.</p>
      </article>

      <article class = "post">
        <img id = "bubbleImage" src = "Images/Bubble - Favourite.jpg"></img>
        <h2 class = "topicHead">Favourite</h2>
        <p class = "topicText">Save your favourite locations,
          making it easier to find them and relive your memories.
        </p>
      </article>

      <article class = "post">
        <img id = "bubbleImage" src = "Images/Bubble - Log In.jpg"></img>
        <h2 class = "topicHead">Profile</h2>
        <p class = "topicText">Create a profile to review your favourite places and save locations you wish to visit.</p>
      </article>
    </section>
    <!-- inforamtion section end -->
  </content>

<!--content end  -->

<!-- footer start  -->
<footer id = "footer">
    <% include ../partials/footer %>
</footer>
<!-- footer end -->

<!-- =========================Modal Login/Register Forms==================== -->
<!-- The Login Modal -->
  <div id="id01" class="modal">
    <% include ../partials/login %>
  </div>

  <!-- Register Modal -->
  <div id="id02" class="modal">
    <% include ../partials/register %>
  </div>

  <!-- close modal if the user clicks outside the modal window -->
  <!-- script for modal id01 (login) -->
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  var modal2 = document.getElementById('id02');
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
      if (event.target == modal2) {
          modal2.style.display = "none";
      }
  }
  </script>

</body>

</html>
