<!DOCTYPE html>
  <!--Colour code: 39B54A -->
<html>
<head>
  <meta charset="utf-8">
  <title>Search - Journey</title>
  <link rel="stylesheet" type="text/css" href="/styles/headerFooter.css">
  <link rel="stylesheet" type="text/css" href="/styles/mapStyle.css">
  <script src='http://code.jquery.com/jquery-1.12.0.min.js'></script>
  <script type = "text/javascript" src = "Api/placesApi.js"></script>
  <script type = "text/javascript" src = "Scripts/changeTab.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <header id = "head">
    <% include ../partials/header %>
  </header>

<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMIarn_4bcxK0VGdVjAm1HjEKciHPejmE&callback=initMap&libraries=places"></script>



<!--test-->




<div id="searchArea">
  <section id = "search">

    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'tab1')" id = "defaultOpen">Name</button>
      <button class="tablinks" onclick="openCity(event, 'tab2')">Category</button>
      <button class="tablinks" onclick="openCity(event, 'tab3')">Favourites</button>
    </div>

    <!-- Tab content -->
    <form id ="tab1" class="tabcontent">
      <input id = "placeSearch" type = "text" placeholder = " Search for a place...">
      <button id="searchB" type="submit" onkeydown="checkSubmit()"><i class="fa fa-search"></i></button>
    </form>

    <form id ="tab2" class="tabcontent" onsubmit="return false">
            <div id = "list">
                  <select id = "categorySelect">
                      <option value="0">Select attraction category...</option>
                      <option value="amusement_park">Amusement Park</option>
                      <option value="aquarium">Aquarium</option>
                      <option value="art_gallery">Art Gallery</option>
                      <option value="bar">Bar</option>
                      <option value="bowling_alley">Bowling Alley</option>
                      <option value="museum">Museum</option>
                      <option value="restaurant">Restaurant</option>
                      <option value="spa">Spa</option>
                      <option value="stadium">Stadium</option>
                      <option value="zoo">Zoo</option>
                  </select>
                  <input type="number" id = "quantity" placeholder = "Radius" min="1" max="100" value="0">
                  <button id="categorySearch"><i class="fa fa-search"></i></button>
              </div>
    </form>

    <form id ="tab3" class="tabcontent">
      <p class = "tabText">No Favourites to show!</p>
    </form>

    <script>
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
    </script>

  </section>
  <!-- search tab end -->
</div>

<!-- footer start  -->
<footer id = "footer">
</footer>
<!-- footer end -->

<!-- The Login Modal -->
  <div id="id01" class="modal">
    <% include ../partials/login %>
  </div>

  <!-- Register Modal -->
  <div id="id02" class="modal">
    <% include ../partials/register %>
  </div>

  <!-- close modal if the user clicks outside the modal window -->
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  var modal2 = document.getElementById('id02');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
      if (event.target == modal2) {
          modal2.style.display = "none";
      }
  }
  </script>

</body>

</html>
