<!DOCTYPE html>
  <!--Colour code: 39B54A -->
<html>

<!-- ===========================Header=========================== -->
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=0.62">
  <title>Profile - Journey</title>

  <link rel="stylesheet" type="text/css" href="/styles/headerFooter.css">
  <link rel="stylesheet" type="text/css" href="/styles/profile.css">


  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type = "text/javascript" src = "Api/placesApi.js"></script>
  <script type = "text/javascript" src = "Scripts/changeTab.js"></script>
  <!--<script type = "text/javascript" src = "Scripts/scrollScript.js"></script>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <header id = "head">
    <% include ../partials/header %>
  </header>

<!-- ===========================profile content=========================== -->
<section>
<div class="container">
  <div class="row-account">

  <div class="left column">
    <div class="photo-left">
      <img class="photo" src="Images/profile.png"/>
      <!-- <img src="profile.png" alt="placeholder" style="width:50%"> -->
    </div>

    <h4 class="username"><%= user.name.first %> <%= user.name.last %></h4>

    <p>Experience Bar</p>
    <div class="exp">
      <div class="skills bar">(50%)</div>
    </div>

    <div class="stats row">
      <!-- <div class="stat column">
        <p class="number-stat">62</p>
        <p class="desc-stat">Amount of Searches:</p>
      </div> -->

      <div class="stat column">
        <p class="desc-stat">Amount of Favourites:</p>
        <p class="number-stat">0</p>
      </div>
    </div>

    <div class="accountDetails">
      <!-- <div class="name">
        <p></p>
      </div> -->
      <!-- <div class="dob">
        <p>Date of Birth: 01/01/01 </p>
      </div> -->

      <div class="email">
        <p>Email: <%= user.email %></p>
      </div>

      <div class="creationDate">
        <p>Account Creation Date: <%= user.registered %></p>
      </div>

    </div>
  </div>
</div>




<!-- FAVOURITES = RIGHT COLUMN  -->
    <div class="row-details">
      <div class="right column">
        <h1 class="favourites">Favourites</h1>
        <div class="column-layout">


      <div class="sidebar-one">
        <h3>Name:</h3>
        <p>Cadonnas</p>
        <p>Triple Kirks</p>
        <p>Disney Land</p>
        <p>Tunnels</p>
      </div>

      <div class="sidebar-two">
        <h3>City:</h3>
        <p>Aberdeen</p>
        <p>Aberdeen</p>
        <p>Paris</p>
        <p>Aberdeen</p>
      </div>

      <div class="sidebar-three">
        <h3>Distance:</h3>
        <p>2km</p>
        <p>10km</p>
        <p>1.5km</p>
        <p>0km</p>
      </div>

    </div>
  </div>
</div>
</div>
</section>
<footer id = "footer"></footer>






<!-- =========================Modal Login/Register Forms==================== -->
<!-- The Login Modal -->
  <div id="id01" class="modal">
    <% include ../partials/login %>
  </div>

  <!-- Register Modal -->
  <div id="id02" class="modal">
    <% include ../partials/register %>
  </div>

  <!-- close modal if the user clicks outside the modal window -->
  <!-- script for modal id01 (login) -->
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  var modal2 = document.getElementById('id02');
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
      if (event.target == modal2) {
          modal2.style.display = "none";
      }
  }
  </script>

</body>

</html>
