<!DOCTYPE html>
  <!--Colour code: 39B54A -->
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=0.62">
  <title>User Policy - Journey</title>

  <link rel="stylesheet" type="text/css" href="/styles/headerFooter.css">
  <link rel="stylesheet" type="text/css" href="/styles/policy.css">

  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type = "text/javascript" src = "Api/placesApi.js"></script>
  <script type = "text/javascript" src = "Scripts/changeTab.js"></script>
  <!--<script type = "text/javascript" src = "Scripts/scrollScript.js"></script>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<section>
  <!-- header start -->
  <header id = "head">
    <% include ../partials/header %>
  </header>
  <!-- header end -->

  <!-- user policy start -->
  <section id = "policy">
    <!-- title -->
    <h2>User Policy and Data Protection</h2>

    <!-- intoduction section -->
    <h1>Introduction:</h1>
    <p>
      Journey is a web application used to find attractions such as pubs, theme parks, and other entertainment venues. <br>
      This application was produced as a Dynamic Web Development Project, by Bartek Godon, Ross Mactaggart, Bruce Genari-Wiseman and Connor Matthews.
    </p>

    <!-- user policy section -->
    <h1>User Policy:</h1>
    <p>
      By agreeing to the following Data Protection Statement, you are giving your permission to Journey to process your personal data.  The application will also process your personal data as part of the administration of your activity.
      The Journey and contracted third parties will deal with your personal data in accordance with the principles set out in the Data Protection Act 1998.

    <!-- information section -->
    <h1>The information we will collect about you:</h1>
    <p>
      On registering with Journey, the application will collect your name, personal or business email address and contact address.
      The personal data collected will be adequate, relevant and not excessive for the purposes stated above.
    </p>

    <!-- cookies section -->
    <h1>Cookies:</h1>
    <p>
      In order to use Journey you must have 'cookies enabled' on your web browser.  By agreeing to this Data Protection Statement, you agree to allow certain information about you to be collected by Journey.

      We collect your information by cookies.  Cookies are small file structures used by Journey to 'request' information from the computer which you are using.  This information is then returned to the Journey server and stored.  The types of information we collect may include usage statistics, for example when users last logged into the system, when they accessed certain activities.

      We use this information to help improve Journey services by ensuring that the material and content matches the users requirement and also to make sure users are not having problems with access.  The usage statistics are visible to the Journey administrators.
    </p>

    <!-- disclaimer section -->
    <h1>Disclaimer:</h1>
    <p>
      Please note that Journey reserves the right to remove, vary or amend any of the content which appears on the application at any time and without prior notice.
    </p>

    <!-- mentions section -->
    <h1>Honourable Mentions:</h1>
    <p>
      John Isaacs - For fixing all the things that we managed to break.<br>
      Craig Cargill - For providing the wonderful name that is "Journey".<br>
      Christina Moir - For helping with the stuff that didn't work in the first place.
    </p>

  </section>
<!--content end  -->

<!-- footer start  -->
<footer id = "footer">
    <% include ../partials/footer %>
</footer>
<!-- footer end -->

<!-- =========================Modal Login/Register Forms==================== -->
<!-- The Login Modal -->
  <div id="id01" class="modal">
    <% include ../partials/login %>
  </div>

  <!-- Register Modal -->
  <div id="id02" class="modal">
    <% include ../partials/register %>
  </div>

  <!-- close modal if the user clicks outside the modal window -->
  <!-- script for modal id01 (login) -->
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  var modal2 = document.getElementById('id02');
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
      if (event.target == modal2) {
          modal2.style.display = "none";
      }
  }
  </script>

</body>

</html>
